@charset "UTF-8";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container {
/* 	border: 2px solid blue; */
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
}

.bookPage {
	display: flex;
	justify-content: space-between;
}
.body {
/*  	border: 2px solid red;  */
	display: flex;
	justify-content: space-around;
}

.left, .right {
/*  	border: 2px solid orange;  */
	width: 40%;
}

input {
	display: flex;
	justify-content:space-between;
	margin-bottom: 20px;
	width: 60%;
	height: 20px;
}

button {
	height: 30px;
	background-color: DarkSlateGray;
	color: white;
	border-radius: 5px;
	border-style: none;
}

button:hover {
	background-color: white;
	color: DarkSlateGray;
}

table {
	width: 40%;
	text-align: left;
	
}

table, th, td {
	border: 1px solid LightGrey;
	border-collapse: collapse;
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}